<li id="habit-<%= habit%>">
  <!-- habit detail container -->
  <div id="habitDetailContainer">
    <!-- centered avatar -->
    <%= habit.avatar %>
    <!-- maintained high streak  -->
    <div id="highStreakDispaly"><%= habit.highStreakMaintained %></div>
  </div>
  <div id="footerContainer">
    <!-- favourite -->
    <%= habit.favourite %>
    <!-- name of habit -->
    <%= habit.name %>
  </div>
</li>
